@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Vazirmatn;
}
@keyframes pulse-move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px); /* حرکت به سمت راست */
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-pulse-move {
    animation: pulse-move 3s ease-in-out infinite;
  }
  